{% extends 'base.html' %}
{% block content %}
<h1>Resources</h1>
  <tr>
    <th>Title</th>
    <th>Type</th>
    <th>URL</th>
    <th>Date Entered</th>
    <th>User</th>
    <th>Description</th>
  </tr><br>

  {% for t in resource_list %}
  <tr>
    <td>{{ t.resourceName }}</td>
    <td>{{ t.resourceType }}</td>
    <td>{{ t.resourceURL }}</td>
    <td>{{ t.resourceDateEntered }}</td>
    <td>{{ t.userId }}</td>
    <td>{{ t.resourceDescription }}</td>
  </tr><br>

  {% endfor %}

  </table>

  {% endblock %}

