{% extends 'base.html' %}
{% block content %}
<h1>Resources</h1>
<table class="table">
  <tr>
    <th>Title</th>
    <th>Type</th>
    <th>URL</th>
    <th>Date Entered</th>
    <th>User</th>
    <th>Description</th>
  </tr><br>

  {% for r in resource_list %}
  <tr>
    <td>{{ r.resourceName }}</td>
    <td>{{ r.resourceType }}</td>
    <td>{{ r.resourceURL }}</td>
    <td>{{ r.resourceDateEntered }}</td>
    <td>{{ r.userId }}</td>
    <td>{{ t.resourceDescription }}</td>
  </tr><br>

  {% endfor %}

  </table>

  {% endblock %}

